<div id="backbone-UI"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Archivist.Routers.AppRouter();
    Backbone.history.start({pushState: true});
    $(document).on('click', 'a:not([data-bypass])', function(e) {
      var href = $(this).attr('href');
      if (href) {
        e.preventDefault();
	Backbone.history.navigate(href, true);
      }      
      });
    Archivist.UI = $('#backbone-UI');
  });
</script>
